<style>

.product_body_form div input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product_body_form div input[type=number]::-webkit-inner-spin-button:before,
.product_body_form div input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height:
}


    .shop_card_body:after
{
    background-image: url('../../files/system/content/decor.png');
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    -webkit-animation: spin 20s linear infinite;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

</style>

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="resources/resource/css/general.css">
        <link rel="stylesheet" href="resources/resource/css/main.css">
        <link rel="stylesheet" href="resources/resource/css/media.md.css">
        <link rel="stylesheet" href="resources/resource/css/media.xl.css">
        <link rel="stylesheet" href="resources/resource/css/bootstrap.min.css">
        <script src="resources/resource/js/jquery-3.5.1.min.js"></script>
        <title>chocolate</title>
    </head>
    <body class="body">
        <span id="scrolling"></span>
        <div id="wrapper">
            <nav class="navbar navbar-expand-lg navbar-bg-dark navbar-dark">
                    <a class="navbar-brand toggle-btn">
                    <img src="resources/files/system/svg/react.svg" class="nav-logo" id="logo">
                </a> 

                  <div class="site-head">
                    <span>crems</span>  
                  </div>
                <form class="search-box">
                    <input type="text" name="" class="search-txt" placeholder="Что ищем?...вкладки, chrome,psd">
                    <a class="search-btn">
                        <img src="resources/files/system/svg/search.svg" class="nav-search-icon">
                    </a>
                </form>
                <button class="hamburger hamburger--elastic" id="hamburger" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger-box ">
                        <div class="hamburger-inner"></div>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav cubic-line ml-auto">
                        <li> 
                            <a href="index.html"> 
                                <span>главная</span> 
                            </a>
                        </li>
                        <li> 
                            <a href="blog.html"> 
                                <span>blog</span> 
                            </a>
                        </li>
                        <li> 
                            <a href="shop.html" class="cubic"> 
                                <span>shop</span> 
                            </a>
                        </li>
                        <li> 
                            <a href="about.html"> 
                                <span>about</span> 
                            </a>
                        </li>
                        <li> 
                            <a href="gallery.html"> 
                                <span>gallery</span> 
                            </a>
                        </li>
                        <li> 
                            <a href="contact.html"> 
                                <span>contact</span> 
                            </a>
                        </li>
                        <li> 
                            <a href="cart.html" class="cart_counter_box"> 
                                <span class="cart_counter">23</span>
                                <img src="resources/files/system/svg/cart.svg">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        <div class="sidebar">
            <div class="cat" id="sidebar">
                <ul class="cat-btn-ul">
                    <li class="cat-btn-li"> 
                      <img src="resources/files/system/svg/flame.svg" class="cat-img">
                      <img src="resources/files/system/svg/flame.svg" class="filter">
                      <div class="cat-word-box">
                        <a href="#">
                            <span>КИБЕР</span>
                            <span>БЕЗОПАСНОСТЬ</span>
                        </a>
                      </div>
                      <span class="cat-circle"></span>
                    </li>

                    <li class="cat-btn-li">
                      <img src="resources/files/system/svg/react.svg" class="cat-img">
                      <img src="resources/files/system/svg/react.svg" class="filter">
                      <div class="cat-word-box">
                        <a href="#">
                          <span>СОФТ ДЛЯ WINDOWS</span> 
                        </a>
                      </div>
                      <span class="cat-circle"></span>
                    </li>
                </ul>
            </div>
        </div>


            <div class="wrap">
                <div class="content">
                    <div class="inner-content page-content inner-not-vh">
                        <div class="page-container">
                             <style>
                                .page_head:before{
                                    background-image: url('resources/files/system/content/chocolate.jpg');
                                }
                            </style>

                            <div class="page_head">
                                <div class="page_head_title_box">
                                    <span>all products</span>
                                    <span>subtitle</span>
                                </div>
                            </div>
                            
                            <!-- qqq -->
                            <div class="page_content">
                                <div class="shop_content">
                                    <div class="shop_card">
                                        <div class="shop_card_body">
                                            <img src="resources/files/upload/online/chocolate (1).png">
                                        </div>
                                        <div class="shop_card_footer">
                                            <div class="add_to_cart_box">
                                                <a>add to cart &#8594;</a>
                                            </div>
                                            <div class="shop_card_title">
                                                <span>chocolate convered roast</span>
                                                <span>$ 17.99</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shop_card">
                                        <span class="shop_card_body_sale">sale</span>
                                        <div class="shop_card_body">
                                            <img src="resources/files/upload/online/chocolate (2).png">
                                        </div>
                                        <div class="shop_card_footer">
                                            <div class="add_to_cart_box">
                                                <a>add to cart &#8594;</a>
                                            </div>
                                            <div class="shop_card_title">
                                                <span>chocolate convered roast</span>
                                                <span>$ 21.13</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shop_card">
                                        <div class="shop_card_body">
                                            <img src="resources/files/upload/online/chocolate (3).png">
                                        </div>
                                        <div class="shop_card_footer">
                                            <div class="add_to_cart_box">
                                                <a>add to cart &#8594;</a>
                                            </div>
                                            <div class="shop_card_title">
                                                <span>chocolate convered roast</span>
                                                <span>$ 13.14</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shop_card">
                                        <span class="shop_card_body_sale">sale</span>
                                        <div class="shop_card_body">
                                            <img src="resources/files/upload/online/chocolate (4).png">
                                        </div>
                                        <div class="shop_card_footer">
                                            <div class="add_to_cart_box">
                                                <a>add to cart &#8594;</a>
                                            </div>
                                            <div class="shop_card_title">
                                                <span>chocolate convered roast</span>
                                                <span>$ 9.11</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shop_card">
                                        <div class="shop_card_body">
                                            <img src="resources/files/upload/online/chocolate (1).png">
                                        </div>
                                        <div class="shop_card_footer">
                                            <div class="add_to_cart_box">
                                                <a>add to cart &#8594;</a>
                                            </div>
                                            <div class="shop_card_title">
                                                <span>chocolate convered roast</span>
                                                <span>$ 7.15</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="paginate">
                                <a href="1" class="active">1</a>
                                <a href="2">2</a>
                                <a href="3">3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-upper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="inner-footer-col-up">
                                <div class="footer-brand">
                                    <div class="footer-brand-left">
                                        <img src="resources/files/system/content/Arch.png" class="footer-brand-logo">
                                    </div>
                                    <div class="footer-brand-right">
                                        <span>Crems</span>
                                        <span>craft delicious sweets</span>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-footer-col-up-under">
                                <span class="footer-down-txt"> Etiam consequat sem ullamcorper, euismod metus sit amet, tristique justo. Vestibulum mattis, nisi ut. </span>
                                <div class="footer_link_box">
                                    <a class="footer-link"> 
                                        <img src="resources/files/system/svg/instagram.svg" class="footer-link-btn-svg">
                                         </a>
                                    <a class="footer-link"> 
                                        <img src="resources/files/system/svg/facebook.svg" class="footer-link-btn-svg"> 
                                    </a>
                                    <a class="footer-link"> 
                                        <img src="resources/files/system/svg/twitter.svg" class="footer-link-btn-svg"> 
                                    </a>
                                    <a class="footer-link"> 
                                        <img src="resources/files/system/svg/youtube.svg" class="footer-link-btn-svg"> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a href="#scrolling" id="arrow_upper">
                                <img src="resources/files/system/svg/up-arrow.png">
                            </a>

                            <div class="footer-info">
                                <span>Explore</span>
                            </div>
                            <!-- qqq -->
                            <div class="inner-footer-up-info">
                                <div class="footer-box">
                                    <div class="footer_box_inner">
                                        <div>
                                            <img src="resources/files/system/svg/phone.svg" width="25">
                                        </div>
                                        <div>
                                            <span>Phone:</span>
                                            <span>+994 999 99 99</span>
                                        </div>
                                    </div>
                                    <div class="footer_box_inner">
                                        <div>
                                            <img src="resources/files/system/svg/location.svg" width="25">
                                        </div>
                                        <div>
                                            <span>our location:</span>
                                            <span>975 Liberty Ave, Union, NJ 07083, USA</span>
                                        </div>
                                    </div>

                                    <div class="footer_box_inner">
                                        <div>
                                            <img src="resources/files/system/svg/email.svg" width="25">
                                        </div>
                                        <div>
                                            <span>email:</span>
                                            <span>web@creams@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-lower">
                <div class="copyright">
                    <span> © Copyright 2022 </span>
                </div>
            </div>
        </footer>

        <script src="resources/resource/js/popper.min.js"></script>
        <script src="resources/resource/js/bootstrap.min.js"></script>
        <script src="resources/resource/js/main.js"></script>
    </body>
</html>