<style>
    
.online_anime_wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.online_anime_wrapper div:nth-child(2) span:nth-child(1){
    color: #ffffff;
}

.online_anime_wrapper div:nth-child(2) span:nth-child(2){
    color: #C19F5F;
}

.online_anime_wrapper:nth-child(1):before{
    content: '';
    width: 100%;
    height: 190px;
    position: absolute;
    background: url('../../files/system/content/decor.png');
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    -webkit-animation: spin 20s linear infinite;
}

.online_anime_image_box img
{
    transition:  all .2s linear;
}

.online_store_card:hover .online_anime_image_box img
{
    transition:  all .2s linear;
    transform: scale(1.2);
}

.online_store_card div:nth-child(1):nth-child(1) img{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.online_store_card img:nth-child(2){
    width: 100%;
    height: 100%;
}

.online_store_card div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

</style>

                                    <a href="product.html" class="online_store_card">
                                        <div class="online_anime_wrapper">
                                            <div class="online_anime_image_box">
                                                <img src="resources/files/upload/online/chocolate (1).png">
                                            </div>
                                            <div>
                                                <span>milk chocolate with</span>
                                                <span>$42.69</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="product.html" class="online_store_card">
                                        <div class="online_anime_wrapper">
                                            <div class="online_anime_image_box">
                                                <img src="resources/files/upload/online/chocolate (2).png">
                                            </div>
                                            <div>
                                                <span>pastry chef fantasy</span>
                                                <span>$25.11</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="product.html" class="online_store_card">
                                        <div class="online_anime_wrapper">
                                            <div class="online_anime_image_box">
                                                <img src="resources/files/upload/online/chocolate (3).png">
                                            </div>
                                            <div>
                                                <span>truffle with vanilla</span>
                                                <span>$31.88</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="product.html" class="online_store_card">
                                        <div class="online_anime_wrapper">
                                            <div class="online_anime_image_box">
                                                <img src="resources/files/upload/online/chocolate (4).png">
                                            </div>
                                            <div>
                                                <span>almond dark chocolate</span>
                                                <span>$19.77</span>
                                            </div>
                                        </div>
                                    </a>
                                